<h1>Gossips</h1>
<p>Listes :</p>

<table class="table">
	<thead>
		<tr>
			<td>ID</td>
			<td>Gossiper</td>
			<td>Titre</td>
			<td>Contenu</td>
		</tr>

	</thead>

	<tbody>
		<%  @gossips.each do |gossip| %>
		<tr>
			<td><%=  gossip.id %></td>
			<td><%=  gossip.anonymous_gossiper %></td>
			<td><%= gossip.title %></td>
			<td><%= gossip.content %></td>
		</tr>
		<tr>
			<td><%= link_to "Voir", gossip_path(gossip.id), class: "btn btn-lg btn-primary" %></td>
			<td><%= link_to "Editer", edit_gossip_path(gossip.id), class: "btn btn-lg btn-succes" %></td>
			<td><a href=" <%= gossip_path(gossip.id) %> " class="btn btn-lg btn-danger" data-confirm="Etes vous sûr ?" data-method="DELETE">Supprimer le gossip</a></td>
		</tr>
		<%  end %>
	</tbody>
</table>


<p>
	<a href=" <%= new_gossip_path %> " class="btn btn-success">Créer un gossip</a>
</p>

